<div class="modal fade" id="loadingModalDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <p>{{body}}</p>
                <div>
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <div ng-show="!indeterminate">
                    <h4 style="text-align: center">{{progress}} / {{maxValue}}</h4>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <a href="#" class="btn btn-danger btn-lg" ng-click="abort()">Abort</a>
                    <a href="#" class="btn btn-success btn-sm" ng-click="close()">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>