<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <div ng-show="isErrored" class="alert alert-danger" role="alert">{{body}}</div>
    <p>{{isFinished ? "Revoking " : "Revoked" }} <strong>{{role}}</strong> permissions for <strong>{{progress.user.user.name}}</strong> ({{progress.user.user.email}}).</p>
    <div ng-show="!isFinished">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-show="!indeterminate && !isFinished">
        <h4 style="text-align: center">{{progress.overall.current + progress.user.current}} / {{progress.overall.total}}</h4>
    </div>
    <div ng-show="isFinished && !isErrored" class="results">
        <p ng-show="isAborted"><strong>{{progress.overall.current}} / {{progress.overall.total}}</strong> files transferred successfully!</p>
        <p ng-show="!isAborted">All files transferred successfully!</p>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group">
        <a href="#" class="btn btn-danger btn-md" ng-class="{'disabled': isAborted || isFinished}" ng-click="abort()">Abort</a>
    </div>
    <div class="btn-group">
        <a href="#" class="btn btn-primary btn-md" ng-class="{'disabled': !isFinished}" ng-click="close()">Close</a>
    </div>
</div>