<div class="modal-header">
    <h4 class="modal-title">Processing...</h4>
</div>
<div class="modal-body">
    <p>Revoking <strong>{{role}}</strong> permissions for user <strong>{{user.name}}</strong> ({{user.email}}).</p>
    <div>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-show="!indeterminate">
        <h4 style="text-align: center">{{progress}} / {{numFiles}}</h4>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group">
        <a href="#" class="btn btn-danger btn-md" ng-click="abort()">Abort</a>
        <a href="#" class="btn btn-success btn-md" ng-click="close()">Close</a>
    </div>
</div>