<div id="main" class="container" ng-show="authenticated">
    <div loading-cover ng-show="!loaded"></div>

    <div>Sending {{request.files.length}} Files to <strong ng-bind="request.requester.name"></strong></div>
    <table class="table table-striped" ng-cloak>
        <tr>
            <th><input type="checkbox" ng-model="selectAll" ui-indeterminate="isSelectAllIndeterminate()" ng-click="toggleSelectAll()"/> </th>
            <th>File Name</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="file in request.files" ng-cloak>
            <td><input type="checkbox" ng-model="file.selected"/></td>
            <td ng-bind="file.fileName"></td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-success btn-sm" ng-click="remove(file)"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </td>
        </tr>
    </table>
    <div>
        <div class="btn-group">
            <a ng-class="{'disabled': !hasSelectedFiles()}" class="btn btn-default  btn-sm" ng-click="removeFilesFromTransfer()">Remove Selected Files</a>
            <a ng-class="{'disabled': !hasFiles()}" class="btn btn-default  btn-sm" ng-click="transfer()">Transfer Files</a>
        </div>
    </div>
</div>